.container_product_main {
  width: 150px;
}

.container_section_1 {
  align-items: flex-end;
  background: tomato;
  display: flex;
  gap: 20px;
}

.container_image {
  height: 160px;
  position: relative;
  width: 85px;
}

/* .container_image::before {
  content: "";
  width: 85px;
  background-color: tomato;
  height: 26px;
  position: absolute;
  bottom: 0;
  filter: blur(4px);
  border-radius: 60%;
  z-index: 1;
} */

.container_image > img {

  /* filter: drop-shadow(4px 1px 5px #222);
  filter: drop-shadow(4px 1px 5px #222); */
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.container_quantity {
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;
}

